<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    
    <add key="AWSAccessKey" value="AKIAJ7VIHFNI6KG3I2UA"/>
    <add key="AWSSecretKey" value="gFQXmEm0DswFeJVX9ayOjX2fEd5pDgqpm4LQo2o1"/>
    <add key="AWSBucketName" value="hopponimages"/>
    <!--Enter your subfolders you made in your S3 bucket below-->
    <add key="DDLValue1" value="CategoryList/"/>
    <add key="DDLValue2" value="CustomerImage/"/>
    <add key="DDLValue3" value="PromotionImage/"/>
    <add key="DDLValue4" value="VendorLogo/"/>

  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>
